<body>
    <div class="box">
        <form method="post" action="{% url 'todoadd' %}">
            {% csrf_token %}
            <h1>Add a New Todo</h1>
            <div>
                <label for="entry" class="visually-hidden">Todo Entry:</label>
                <input id="entry" class="input_todo" placeholder="Enter your new todo" type="text" name="entry" required>
            </div>
            <button class="button_plus" type="submit">Add</button>
        </form>
        <h1>Bucket List</h1>
        <form method="post" action="{% url 'delete_all' %}">
            {% csrf_token %}
            <ul>
                {% for todo in todos %}
                <li>
                    {{ todo.title }}
                    <form method="post" action="{% url 'delete' todo.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button class="button_delete" type="submit">-</button>
                    </form>
                </li>
                {% endfor %}
            </ul>
            <ul>
                <li>{{ todos.count }} missions remaining</li>
                <li>
                    <button class="button_clear" type="submit">Mission completed</button>
                </li>
            </ul>
        </form>
    </div>
</body>